.defaultInput {
 @apply hover:bg-white;
 margin: 0;
 font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 400;
 line-height: 28px;
 box-sizing: border-box;
 height: 40px;
 padding: 10px 16px;
 transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
 border-radius: 8px;
 outline: none;
 color: #0d0c22;
 appearance: none;
 font-size: 14px;
 width: 100%;
 margin-right: 8px;
 background-color: #F3F3F4;
}

.defaultInput:hover { box-shadow: 0 0 0 4px rgba(234,76,137,0.1); background: white}